/*------------------------------------*\
    HEADER.CSS
\*------------------------------------*/

.site-header {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    padding: 1.25% 2%;
    height: 69px;
}

.site-branding {
    min-height: 2em;
    padding-right: 60px;
    position: relative;
    z-index: 99999;
    width: 100%;
}

.site-title {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3636;
    margin-bottom: 0;
    background: url("images/fig.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    height: 47px;
    width: 137px;
    a {
        text-indent: -32em;
        display: block;
        height: 47px;
        overflow: hidden;
        border: none;
    }
}

.site-description {
    display: none;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0.5em 0 0;
    opacity: 0.7;
}
.top-social {
    position: relative;
    z-index: 99999;
    display: none;
    .btn, .social-navigation {
        display: inline-block;
    }
}