/*------------------------------------*\
   Widgets
/*------------------------------------*/

.widget {
	color: $base-color;
	color: rgba(51, 51, 51, 0.7);
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin: 0 auto 9.09090%;
	width: 100%;
	word-wrap: break-word;
	pre {
		line-height: 1.2;
	}
	button,
	input {
		line-height: normal;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		font-size: 12px;
		font-size: 1.2rem;
		padding: 0.7917em 1.5833em;
	}
	> :last-child {
		margin-bottom: 0;
	}
}


.widget-title {
	color: $color-dark-grey;
	margin: 0 0 1.6em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	font-family: $font-face;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 300;
}

.widget_calendar {

	table {
		margin: 0;
		td,
		th {
			line-height: 2.3333;
			text-align: center;
			padding: 0;
		}
	}

	caption {
		font-weight: 700;
		margin: 0 0 1.6em;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}
	tbody a {
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
		background-color: $base-color;
		color: $color-light;
		display: block;
		font-weight: 700;
		&:hover,
		&:focus {
			background-color: $color-primary;
			color: $color-light;
		}
	}
}

.widget_archive,
.widget_categories,
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries {
	a {
		border: 0;
	}
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		border-top: 1px solid $color-line;
		padding: 0.7667em 0;
	}
	li:first-child {
		border-top: 0;
		padding-top: 0;
	}
	li:last-child {
		padding-bottom: 0;
	}

}


.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
	border-top: 1px solid $color-line;
	margin: 0.7667em 0 0 0.8em;
	padding-top: 0.7667em;
}

.widget_recent_entries .post-date {
	display: block;
}

.widget_rss {

	ul {
		list-style: none;
		margin: 0;
	}
	li {
		margin-bottom: 1.6em;
	}
	ul:last-child,
	li:last-child {
		margin-bottom: 0;
	}
	.rsswidget {
		border: 0;
		font-weight: 700;
		img {
			margin-top: -4px;
		}
	}
	.rss-date,
	cite {
		font-size: 12px;
		font-size: 1.2rem;
		font-style: normal;
		display: block;
		line-height: 2;
		opacity: 0.8;
	}
}
.textwidget {

	> :last-child {
		margin-bottom: 0;
	}
	a {
		border-bottom: 1px solid $color-line;
		&:hover, &:focus {
			border-bottom: 0;
		}
	}
}
.tagcloud {
	a {
		font-size: 14px !important;
		font-size: 1.3rem !important;
	  	border: 1px solid rgba(51, 51, 51, 0.1);
	  	margin-bottom: 8px;
	  	margin-right: 4px;
	  	display: inline-block;
	  	padding: 4px 10px;
	  	border-radius: 3px;
	  	background-color: rgba(255, 255, 255, 0.55);

		&:hover {
			border-color: $color-primary;
			color: $color-primary;
			background-color: transparent;
		}
	}
}
.popular-posts {
	ol {
		margin: 0 0 18px 18px;
		color: $color-dark;
	}
	li {
		border-bottom: 1px solid rgba(158, 158, 158, 0.1);
  		padding: 12px 0;
  		&:first-child {
			padding-top: 0;
		}
	}
	.wpp-date {
		color: rgba(51, 51, 51, 0.5);
		font-size: 12px;
	}
}